body{
    background: #222;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
h1{
    color: #16a085;
}
h2{
}
canvas{
    margin-top:0px;
    left: 0;
    right: 0;
    margin: auto;
    background: #444;
    color:#16a085;
}